body{
    margin: 0%;
    font-family: 'Roboto', sans-serif;
    
}
h1{
    font-size: 60px;
    line-height: 0.7;
    color: rgb(21, 163, 199);
}
.name{
    color: blueviolet;
}
.upper-article{
    width: 40%;
    float: left;
    margin-left: 3%;
    padding-left: 5%;
  
   
    

}
a:link {
    text-decoration: none;
    margin-top: 50px;
    padding: 10px;
    line-height: 1;
    
   
    background-color:blue;
    background-image: linear-gradient(rgb(175, 219, 233),rgb(222, 236, 231));
  }
  img{
      width: 100%;
  }
  p{
      color: dimgray;
     
      line-height: 1.8;
  }
  .upper{
    background-image: url("image/top-banner.png");
    background-repeat: no-repeat;
    background-position: left;
    margin-bottom: 150px;
  }
  .mid{
      background-image: url("image/dream-bg.png");
      background-repeat: no-repeat;
      background-position: right;
      margin-bottom: 150px;
  }
  section{
      height: 500px;
  }
  .box{
      box-shadow: 5px 4px 30px blue;
      height: 300px;
      border-radius: 5px;
      background-color: white;
    }
 #left-box{
    border-left: 10px solid blue;
    border-right: 10px solid blue;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
 }

 #right-box{
    border-left: 10px solid red;
    border-right: 10px solid red;
    border-image: linear-gradient(red,tomato);
    border-image-slice: 1;
 }
 .lower{
     background-image: url(image/exp-bg.png);
     background-repeat: no-repeat;
     background-position: left;
 }
 h3{
     color: darkturquoise;
 }
 footer p{
     text-align: center;
 }